header {
  width: 100%;
  background-color: #000;
}

header > .logo {
  height: 90px;
}

header > nav {
  padding: 10px;
}

header > nav > ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;   /* I decided to go with flex as it'll allow for more nav options with minimal CSS updates*/
  flex-direction: row;
  justify-content: center;
}

header > nav > ul > li {
  display: inline-block;
}

header > nav > ul > li > a {
  color: #fff;
  text-decoration: none;
}

.spinner {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.content {
  padding: 20px;
}

@media(min-width: 768px) {
  .App {
    display: flex;
  }

  header {
    width: 15%;
    min-height: 100vh;
    max-width: 165px;
  }

  .content {
    width: 85%;
  }

  header > .logo {
    display: block;
    margin: 0 auto;
  }
}

.admin-choice {
  padding: 10px;
}

.admin-choice:hover {
  transform: scale(1.02);
  box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.5);
  cursor: pointer;
}

/***** Customer List *****/
.customer-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.customer {
  width: 40%;
  display: flex;
  align-items: center;
  border: 1px solid #e9e9e9;
  margin-bottom: 20px;
}

.customer-logo {
  width: 80%;
  padding-top: 80%;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

@media(min-width: 768px) {
  .customer {
    width: 28%;
  }
}

@media(min-width: 1024px) {
  .customer {
    width: 16%;
  }
}
